<%= form_for(@idea, method: :post, :html => {class: "", role: "form"}) do |f| %>
<div class="form-row search-row">
    <div class="col-md-12 mb-3">
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text search-input-prepend">News title</div>
       </div>
       <%= f.text_field :title, class: "form-control search-input", placeholder: "Elon Musk" %>
     </div>
     <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text search-input-prepend">News link</div>
      </div>
      <%= f.text_field :link, class: "form-control search-input", placeholder: "https://www.spacefeed.co" %>
    </div>
    </div>
    <div class="col-md-12 mx-auto mb-2">
      <%= f.submit "Submit!", class: "btn btn-danger btn-block search-button" %>
    </div>

  </div>
<% end %>
