<form>
  <div class="row">
    <div class="col-md-8">
      <div class="search-row">
        <form class="form-group">
          <div class="form-row">
            <div class="col-md-10 mb-3">
              <div class="input-group mb-2">
               <div class="input-group-prepend">
                 <div class="input-group-text search-input-prepend">I want to start...</div>
               </div>
               <%= form_for @idea, :url => "create" do |f| %>
                  <%= f.text_field :title, autofocus: true, class: 'form-control search-input', placeholder: "Part-time job at Space company" %>
               <!-- <input type="text" class="form-control search-input" id="inlineFormInputGroup" placeholder="Part-time job at Space company"> -->
             </div>
            </div>
            <div class="col-md-2 mx-auto ">
               <%= f.submit  class: 'btn btn-outline-danger btn-block search-button' %>
             <% end %>
              <!-- <button class="btn btn-outline-danger btn-block search-button" type="submit">Start!</button> -->
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col">
            <h6 class="main-text-color">
              <small class="text-muted">• Tech startup</small>
              <small class="text-muted">• Run every morning</small>
              <small class="text-muted">• Learning to cook</small>
              <small class="text-muted">• Tech startup</small>
              <small class="text-muted">• Run every morning</small>
              <small class="text-muted">• Learning to cook</small>
              <small class="text-muted">• Tech startup</small>
              <small class="text-muted">• Run every morning</small>
              <small class="text-muted">• Learning to cook</small>
              <small class="text-muted">• Tech startup</small>
              <small class="text-muted">• Run every morning</small>
              <small class="text-muted">• Learning to cook</small>
              <small class="text-muted">• Tech startup</small>
              <small class="text-muted">• Run every morning</small>
              <small class="text-muted">• Learning to cook</small>
              <small class="text-muted">• Tech startup</small>
              <small class="text-muted">• Run every morning</small>
              <small class="text-muted">• Learning to cook</small>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
