<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://js.stripe.com/v3/"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123975074-1"></script>
    <title>Submit a news</title>
  </head>
  <body>
    <div class="row">
      <div class="col-12 col-md-12 ">
        <h1 class="main-text-color good-font">Submit a news
        <br>
        <small class="text-muted good-font">Show to the space community what you've found!</small>
      </h1>
      </div>

    </div>
    <br>
  
    <%= render 'form' %>
  </body>
</html>
