<%= form_for(@topic, :html => {class: "", role: "form"}) do |f| %>
<div class="form-row search-row">
    <div class="col-md-12 mb-3">
      <div class="input-group mb-2">
       <div class="input-group-prepend">
         <div class="input-group-text search-input-prepend">Topic title</div>
       </div>
       <%= f.text_field :title, class: "form-control search-input", placeholder: "Space exploration" %>
     </div>
     <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text search-input-prepend">Why do you want to talk about this topic?</div>
      </div>
      <%= f.text_field :description, class: "form-control search-input", placeholder: "I dream to someday be able to go to the weekend on Earth's orbit or Moon." %>
    </div>
    </div>
    <div class="col-md-12 mx-auto mb-2">
      <%= f.submit "Submit", class: "btn btn-danger btn-block search-button" %>
    </div>

  </div>
<% end %>
