<div class="row">
  <div class="col-12 col-md-9 ">
    <h3 class="main-text-color">Job listing
    <br>
    <small class="text-muted">Take a shot!</small>
    </h3>
  </div>
  <div class="col-12 col-md-3">
    <%= link_to 'Back', :back, class: "btn btn-outline-danger btn-block"  %>
  </div>
</div>
<br>


  <%= render 'form' %>
