
      <!-- <li class="nav-item dropdown">
        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          •••
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <p class="dropdown-header">This section currently under development.
            <br>
            Stay tuned for awesome features!</p>

          <a class="dropdown-item" href="#">People</a>
          <a class="dropdown-item" href="#">About</a>
          <a class="dropdown-item" href="#">Employers</a>

        </div>
      </li> -->




      <!-- <li class="nav-item">
       <%# link_to "Collections", communities_path, class: "nav-link"  %>
     </li>
      <li class="nav-item">
       <%# link_to "Companies", employers_path, class: "nav-link"  %>
     </li>
      <li class="nav-item">
       <%# link_to "Jobs", jobs_path, class: "nav-link"  %>
     </li>  -->


     <!-- <li class="nav-item">
       <%# link_to "Homes", homes_path, class: "nav-link"  %>
     </li>
     <li class="nav-item">
       <%# link_to "Cities", cities_path, class: "nav-link"  %>
     </li> -->
