<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="card card-notification-if-0">
    <div class="card-body">
      <h5 class="card-title text-muted">Something great will appear here soon!
      <br>
      <small class="text-muted">Stay updated or create your own community</small></h5>
      <%= link_to "Create community", new_community_path, class: "btn btn-outline-danger"  %>
    </div>
  </div>
</div>
