  <div class="card card-job-listing-main">
    <div class="card-body">
      <h5 class="card-title text-muted">Any second here can appear a new opportunity!
      <br>
      <small class="text-muted">Stay updated!</small></h5>
      <%# link_to "Email", new_community_path, class: "btn btn-outline-danger"  %>
    </div>
  </div>
