<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="card card-notification-if-0">
    <div class="card-body">
      <h5 class="card-title text-muted">Many cool projects are coming!
      <br>
      <small class="text-muted">Stay updated or create one by yourself!</small></h5>
      <%= link_to "Start new project", new_project_path, class: "btn btn-outline-danger"  %>
    </div>
  </div>
</div>
