<div class="row">
  <div class="col">
    <div class="jumbotron jumbotron-users jumbo-new-user">
      <% if current_user.present? %>
        <div class="row">
          <div class="col">
            <h1 class=" main-text-color good-font mt-3 h1-responsive">Welcome <%= @user.first_name %>
              <br>
              <small>Start by creating your first project.</small>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= link_to "Create first project", new_project_path, class: "btn btn-danger"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4>Here is some tips on projects</h4>
        <p>1. Tip number one</p>
      </div>
    </div>
  </div>
</div>
