


<div class="row">
  <div class="col-9">
    <!-- <div class="row">
      <div class="col">
        <h3 class="main-text-color">Projects
        </h3>
      </div>
    </div> -->

    <div class="row">
        <div class="col-6 col-md-6 col-lg-4 col-xl-4">
          <div class="card card-pages-user mt-2">
          <div class="card-body">
            <div class="row">
              <div class="col-11 col-md-11 col-lg-11 col-xl-11">
                <h5 class="card-title main-text-color">Projects</h5>
                <h6 class="card-subtitle mb-2 text-muted card-subtitle-pages-user">4 in work | 1 planning | 2 reserach</h6>
              </div>
              <div class="dots-pages-user text-right">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-4 col-xl-4">
        <div class="card card-pages-user mt-2">
          <div class="card-body">
            <h5 class="card-title main-text-color">Communities</h5>
            <h6 class="card-subtitle mb-2 text-muted card-subtitle-pages-user">34 following | 1 created</h6>
          </div>
        </div>
      </div>
        <div class="col-6 col-md-6 col-lg-4 col-xl-4">
          <div class="card card-pages-user mt-2">
          <div class="card-body">
            <h5 class="card-title main-text-color">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted card-subtitle-pages-user">Card subtitle</h6>
          </div>
        </div>
      </div>

</div>


    <!--
    <br>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card card-community-main mr-3 mt-3">
          <img class="card-commutity-img card-img-top" src="https://farm5.staticflickr.com/4695/26691091498_d05ce9cb0a_b.jpg" width="692" height="702" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Commercial interiors</h5>
            <p class="card-text">Here you can meet people behind the greatests commercial interior designs from all over the world. Join us!</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card card-community-main mr-3 mt-3">
          <img class="card-commutity-img card-img-top" src="https://farm5.staticflickr.com/4650/39851769104_51f0686735_h.jpg" width="1600" height="990" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Fell in love in San Francisco</h5>
            <p class="card-text">Ones you've been here you can't forget this city. We love it, we live here, we want to be here.</p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="col-3">
    <div class="mt-2">
      <%= render 'users/usercard' %>

    </div>
  </div>
</div>
