<div class="row">
  <div class="col-12">
    <div class="card" >
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h4 class="place-name"><i class="fas fa-location-arrow mr-1"></i>San Francisco</h4>
        <p class="place-statuses"><i class="fas fa-sun mr-2"></i> Sunny 96˚F</p>
      </div>

      <ul class="list-group list-group-flush">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-outline-primary btn-sidebar" data-toggle="modal" data-target="#exampleModalLong">
            Startups
          </button>
          <button type="button" class="btn btn-outline-primary btn-sidebar" data-toggle="modal" data-target="#exampleModalLong">
            Mentors
          </button>
          <button type="button" class="btn btn-outline-primary btn-sidebar" data-toggle="modal" data-target="#exampleModalLong">
            Pro
          </button>
          <button type="button" class="btn btn-outline-primary btn-sidebar" data-toggle="modal" data-target="#exampleModalLong">
            Enterprises
          </button>
        </div>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>

    </div>
  </div>
</div>
