<div class="row">
  <div class="col-12 col-md-9 ">
    <h3 class="main-text-color">New Update</h3>
    <%= link_to 'Back to the project', @project, class: "text-muted"%>
  </div>
    <div class="col-12 col-md-3">
      <%= link_to 'Back', :back, class: "btn btn-danger btn-block"  %>
    </div>
</div>
<br>

  <%= render 'form' %>
