<div class="row">
  <div class="col-12 col-md-9 ">
    <h1 class="main-text-color">Create a Company Profile
    <br>
    <small class="text-muted">We are thrilled to have you with us!</small>
  </h1>
  </div>
  <div class="col-12 col-md-3">
    <%= link_to 'Back', :back, class: "btn btn-outline-danger btn-block"  %>
  </div>
</div>
<br>
<br>
<%= render 'form' %>
