<div class="row">
  <div class="col">
    <h1 class="main-text-color">Edit info about <%= @city.name %> </h1>
    <h5><small class="text-muted"><%= link_to "Go back to #{@city.name}", city_path(@city), class: "text-muted text-muted-small" %> | <%= link_to 'Front page', root_path, class: "text-muted text-muted-small" %></small></h5>
  </div>
</div>
<br>
<%= render 'form' %>
