<div class="row">
  <div class="col">
    <h1 class="main-text-color"><%=  image_tag('planetome2.0_logo.png', style: 'height:40px;width:auto;')%> cities
    <!-- <small class="text-muted">The field where you want to start.</small> -->
    </h1>
  </div>
</div>
<br>
<div class="row">
  <% @cities.each do |city| %>
  <div class="col-12 col-md-6 col-lg-6 col-xl-6">
    <%= link_to city_path(city) do %>
    <div class="card bg-dark text-white card-field-main text-center mt-3">
      <%= image_tag city.background.url, class: "card-field-img" if city.background? %>
      <div class="card-img-overlay">
        <h5 class="card-title card-title-field"><%= city.name%></h5>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
