

<div class="row">
  <div class="col">
    <h1 class="main-text-color">Add a new city</h1>
    <h5><small class="text-muted"><%= link_to 'Go back to cities', cities_path, class: "text-muted text-muted-small" %> | <%= link_to 'Front page', root_path, class: "text-muted text-muted-small" %></small></h5>

  </div>
</div>
<br>

  <%= render 'form' %>
