
<div class="row">
  <div class="col">
    <h3 class="main-text-color">Cities of Startups.Space
    <br>
    <!-- <small class="text-muted">The field where you want to start.</small> -->
    </h3>
  </div>
</div>
<br>

<div class="row">
  <% @cities.each do |city| %>
  <div class="col">
    <%= link_to city.name, city_path(city), class: "btn btn-outline-danger btn-lg btn-city-main mr-3 mt-3"  %>
  </div>
  <% end %>
</div>
