@import "bootstrap";
@import "pages";
@import "users";
@import "fields";
@import "communities";
@import "projects";
@import "ideas";
@import "jobs";


:root {
    --main-text-color: #303339;
    // --main-highlighted-text-color: #000;
    --main-highlighted-text-color: #F23D32;

    --main-card-normal-background-color: #FBFBFB;
    --main-bg-color: #F4F5F9;
    --main-button-color: #000000;
    --main-button-hover-color:  #303339;
}


body {
  font-family: 'Raleway', sans-serif;
  // font-family: 'Playfair Display', serif;
  background-color: var(--main-bg-color);
  font-size: 13px;
}

.card {
  border-radius: 0px;
}

.jumbo-test {
  width: 100%;
  height: 400px;
  background-image: url(https://farm1.staticflickr.com/940/42838891304_1e7e11eb5e_k.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.btn-danger {
  border-radius: 0px;
  border: 0px;
  color: #fff;
  background-color: var(--main-button-color);
  box-shadow:  0 0px 5px 0 rgba(230, 47, 36, 0.1), 0 0px 5px 0 rgba(230, 47, 36, 0.1);

}


.btn-danger:hover {
  background-color: var(--main-button-hover-color)
}


.btn-post-job {
  font-weight: 700;
}
.font-red-background-color {
  display: table; /* keep the background color wrapped tight */
  // margin: 0px auto 0px auto; /* keep the table centered */
  padding:10px;
  margin-left: -20px;
  margin-right: -10px;
  // margin-bottom: -32px;
  background-color: var(--main-button-color);
  color:#ffffff;
  border-right: 2px solid white;


  line-height: 1.4;

}
.font-black-background-color-community-show {
  display: table; /* keep the background color wrapped tight */
  // margin: 0px auto 0px auto; /* keep the table centered */
  padding:10px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: var(--main-button-color) ;
  color:#ffffff;

}

.card-controls {
  border: 0px;
  padding-top: 0px;
  height: 40px;
  margin-bottom: 40px;
  background-color: var(--main-bg-color);
}

.card-body-controls {
  padding: 0px;
}

.btn-controls {
  color: var(--main-button-color);
  padding: 0px;
}
.btn-controls:hover {
  color: var(--main-button-color);
  text-decoration: underline;
}



a:hover {
  color: #E62F24;
}

.btn-outline-danger {
  border-radius: 2px;

}


.normal-link-red {
  color: #000;
  text-decoration: none;
}

.normal-link-red:hover {
  text-decoration: underline;
}

.normal-link-light-grey {
  color: #000;
  text-decoration: none;
}

.normal-link-light-grey:hover {
  color: #000;
  text-decoration: underline;
}


// .form-control {
//   border: 0px;
//   border-bottom: 1px solid red;
//   border-radius: 0px;
//
// }
// .form-control:focus {
//   border: 1px solid red;
//   border-radius: 3px;
//   box-shadow: none;
//   outline: 0 none;
//   margin-top: -1px;
//   margin-left: -1px;
//
//   // border-color: rgba(225, 225, 225, 0);
//   // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(226, 41, 33, 0.6);
//   // outline: 0 none;
//
// }
//
// .control-label-new-design {
//   color: grey;
// }




.btn-sidebar {
  border-radius: 0px;
  border: 0px;
  text-align: left;
  // margin-left: 10px;
}

.text-muted {
  color: #717272;
  font-weight: 300;
}

.btn-menu-nav {
  color: #000;
  margin-top: -8px;
  float: right;
}

.btn-menu-nav:hover {
  color: #E62F24;
}


.navbar-collapse {
  z-index: 1001;
  margin-top: 0px;
  background-color: var(--main-bg-color);
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.custom {
  border: 0px;
}

.custom .navbar-toggler-icon  {
  background: none;
  margin-top: 7px;
  color: #000;
}

// .text-muted-small {
//   font-size: 12px;
//   margin-top: 0px;
//
// }
// .search-row{
//   padding-top: 145px;
//   padding-bottom: 145px;
// }
//
// .search-input {
//   border-radius: 2px;
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
//   color: #fff;
//   height: 45px;
//   font-weight: 300;
// }
//
// .search-button {
//   border-radius: 2px;
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
//   height: 45px;
//   font-weight: 700;
//
// }

.navbar-color-shadow {
  background-color: var(--main-bg-color);
  height: 56px;
  margin-bottom: 70px;
}

// .no-transition {
//   -webkit-transition: height 0.01s;
//   -moz-transition: height 0.01s;
//   -ms-transition: height 0.01s;
//   -o-transition: height 0.01s;
//   transition: height 0.01s;
// }


.card-field-main {
  border-radius: 1px;
  border: 0px;
  // border-radius: 2px;
  box-shadow:  0 0px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.card-field-main:hover {
  box-shadow:  0 0px 20px 0 rgba(0, 0, 0, 0.3), 0 0px 20px 0 rgba(0, 0, 0, 0.3);
}

// .card-community-main {
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 8px 0 rgba(0, 0, 0, 0.2);
// }
//
// .card-community-main:hover {
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.6), 0 0px 8px 0 rgba(0, 0, 0, 0.6);
// }

.card-community-index {
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-community-index:hover {
  // border-bottom: 3px solid red;
  // margin-bottom: -3px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.15), 0 0px 10px 0 rgba(0, 0, 0, 0.15);
}



.card-title-field {
  font-weight: 700;
  text-shadow: 2px 2px 8px #000;
  padding-top: 18px;
}

.btn-city-main {
  box-shadow:  0 0px 5px 0 rgba(230, 47, 36, 0.1), 0 0px 5px 0 rgba(230, 47, 36, 0.1);
  color: #000;
}

.main-text-color {
  color: var(--main-highlighted-text-color);
  font-weight: bold;
}

.main-caption {
  color: #fff;
}

.annotation-main {
  font-weight: 300;
  color: #534C4C;
  font-size: 0.85em;
}

.footer {
  margin-top: 80px;
}

.footer-text {
  font-weight: 300;
  // color: #534C4C;
  font-size: 0.75em;
}

.card-img {
  width: 100%;
  height: 300px;
  // object-fit: cover;
  object-fit: cover;
}

.card-field-img {
  width: 100%;
  height: 100px;
  border-radius: 0px;
  object-fit: cover;
}

.place-name {
  color: #707070;
  font-weight: 300;
  font-size: 18px;
}

.place-statuses {
  color: #707070;
  font-weight: 300;
}

.btn-moreinfo-main {
  border: 0px;
  font-size: 13px;
}

.btn-outline-danger {
  border-color: var(--main-button-color);
  color: var(--main-button-color);
  background-color: #fff;

  border-radius: 0px;
  border-width: 0px;
  border-bottom-width: 2px;
}

.btn-outline-danger:hover {
  background-color: var(--main-button-hover-color);
  border-color: var(--main-button-color);

}


.alert {
  border-width: 1px;
  border-color: red;
  background-color: #fff;
  // box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-header-menu {
  background-color: #fff;
}

.modal-title-menu {
  color: #E62F24;
}

.model-dialog-menu {
  border-radius: 7px;
}

.dropdown-item-menu:hover {
  background-color: #E62F24;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
}

.card-login {

  border: 0px;
  margin-bottom: 10px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-header-login {
  background-color: #E62F24;
  color: #fff;
}

.card-text-location {
  color: grey;
  font-size: 11px;
}

.card-notification-if-0 {
  border: 0px;
  border-radius: 0px;
  border-left: 2px solid red;
}

.pages-index-main-links:hover {
  text-decoration: none;

}


.company-pick {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 3px;
  height: 30px;
  width: 100%;
  background: no-repeat #fff;
  color: #0D2645;
}

.company-pick:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // background-color: #fafafa;
  border: 1px solid #223D5F;
}


.card-category-main {
  border-radius: 0px;
  background-color: #fff;
  // border-bottom: 2px solid black;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  // border-radius: 2px;
  box-shadow:  0 0px 20px 0 rgba(211, 211, 211, 0.3), 0 0px 20px 0 rgba(211, 211, 211, 0.3);
}

.card-category-main:hover {
  box-shadow:  0 0px 20px 0 rgba(211, 211, 211, 0.6), 0 0px 20px 0 rgba(211, 211, 211, 0.6);
}

.card-category-index {
  height: 100px;
  width: 100%;
  border-radius: 0px;
  background-color: #fff;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow:  0 0px 20px 0 rgba(211, 211, 211, 0.3), 0 0px 20px 0 rgba(211, 211, 211, 0.3);
}

.card-category-index:hover {
  box-shadow:  0 0px 20px 0 rgba(211, 211, 211, 0.6), 0 0px 20px 0 rgba(211, 211, 211, 0.6);
}

.category-title {
  color: #000;
}





#hover-content {
    opacity:0;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}
#parent:hover #hover-content {
    opacity:1;

}


.make-in-center {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


.form-check-input {
  border-radius: 0px;
  border-color: #000;
}
