@import "bootstrap";
@import "pages";
@import "users";
@import "fields";
@import "communities";
@import "projects";
@import "ideas";

body {
  font-family: 'Playfair Display', serif;
  background-color: #fff;
  font-size: 13px;
}

a:hover {
  color: #E62F24;
}

.btn-outline-danger {
  border-radius: 2px;

}

// .form-control {
//   border: 0px;
//   border-bottom: 1px solid red;
//   border-radius: 0px;
//
// }
// .form-control:focus {
//   border: 1px solid red;
//   border-radius: 3px;
//   box-shadow: none;
//   outline: 0 none;
//   margin-top: -1px;
//   margin-left: -1px;
//
//   // border-color: rgba(225, 225, 225, 0);
//   // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(226, 41, 33, 0.6);
//   // outline: 0 none;
//
// }
//
// .control-label-new-design {
//   color: grey;
// }




.btn-sidebar {
  border-radius: 0px;
  border: 0px;
  text-align: left;
  // margin-left: 10px;
}

.text-muted {
  color: #717272;
  font-weight: 300;
}

.btn-menu-nav {
  color: #000e20;
}

.btn-menu-nav:hover {
  color: #E62F24;
}

// .text-muted-small {
//   font-size: 12px;
//   margin-top: 0px;
//
// }
// .search-row{
//   padding-top: 145px;
//   padding-bottom: 145px;
// }
//
// .search-input {
//   border-radius: 2px;
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
//   color: #fff;
//   height: 45px;
//   font-weight: 300;
// }
//
// .search-button {
//   border-radius: 2px;
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
//   height: 45px;
//   font-weight: 700;
//
// }

.navbar-color-shadow {
  background-color: #ffffff;
  // box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  height: 70px;
  margin-bottom: 70px;
}

.card-field-main {
  border-radius: 5px;
  border: 0px;
  // border-radius: 2px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-field-main:hover {
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.15), 0 0px 10px 0 rgba(0, 0, 0, 0.15);
}

// .card-community-main {
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 8px 0 rgba(0, 0, 0, 0.2);
// }
//
// .card-community-main:hover {
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.6), 0 0px 8px 0 rgba(0, 0, 0, 0.6);
// }

.card-community-index {
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-community-index:hover {
  // border-bottom: 3px solid red;
  // margin-bottom: -3px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.15), 0 0px 10px 0 rgba(0, 0, 0, 0.15);
}



.card-title-field {
  font-weight: 700;
  text-shadow: 2px 2px 8px #000;
  padding-top: 18px;
}

.btn-city-main {
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  color: #000e20;
}

.main-text-color {
  color: #E62F24;
  font-weight: bold;
}

.annotation-main {
  font-weight: 300;
  color: #534C4C;
  font-size: 0.85em;
}

.footer {
  margin-top: 335px;
  display: block;
}

.footer-text {
  font-weight: 300;
  color: #534C4C;
  font-size: 0.75em;
}

.card-img {
  width: 100%;
  height: 300px;
  // object-fit: cover;
  object-fit: cover;
}

.card-field-img {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.place-name {
  color: #707070;
  font-weight: 300;
  font-size: 18px;
}

.place-statuses {
  color: #707070;
  font-weight: 300;
}

.btn-moreinfo-main {
  border: 0px;
  font-size: 13px;
}

.btn-outline-danger {
  border-color: #E62F24;
}

.btn-outline-danger:hover {
  background-color: #E62F24;
}

.alert {
  border-width: 1px;
  border-color: red;
  background-color: #fff;
  // box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-header-menu {
  background-color: #fff;
}

.modal-title-menu {
  color: #E62F24;
}

.model-dialog-menu {
  border-radius: 7px;
}

.dropdown-item-menu:hover {
  background-color: #E62F24;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
}

.card-login {

  border: 0px;
  margin-bottom: 10px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-header-login {
  background-color: #E62F24;
  color: #fff;
}

.card-text-location {
  color: grey;
  font-size: 11px;
}

.card-notification-if-0 {
  border: 0px;
  border-radius: 0px;
  border-left: 2px solid red;
}

.pages-index-main-links:hover {
  text-decoration: none;

}


.company-pick {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // background-color: #fafafa;
  border: 1px solid #000;
  border-radius: 2px;
  height: 35px;
  width: 80%;
  background: url(https://farm1.staticflickr.com/896/39697554230_aa7d8771b4.jpg) 98% / 3% no-repeat #fff;
  color: #0D2645;
}

.company-pick:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // background-color: #fafafa;
  border: 1px solid #223D5F;
}
