.card-commutity-img-show {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card-community-show {
  border: 0px;
  box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}
