.card-home-main-photo {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 7px;
}

.rounded {
  border: 2px white solid;
  border-radius: 40px;
  padding: 5px;
}
