.card-idea-index {
  border: 0px;
  margin-bottom: 20px;
}

.idea-index-text {
  font-size: 15px;
  color: grey;
}

.idea-card {
  // border-left: 1px solid #E62F24;
  padding-left: 10px;
  // padding-bottom: -15px;
  // margin-bottom: -15px;
  // margin-left: 3px;
}

.circle {
  background-color: #111223;
  height: 5px;
  width: 5px;
  border-radius: 3px;
  margin-left: -10px;
  margin-bottom: -10px;
}

.line {
  background-color: #111223;
  height: 40px;
  width: 1px;
  border-radius: 0px;
  margin-left: -8px;
  margin-top: -57px;
  z-index: auto;
}

.circles {
  margin-bottom: 5px;
}

.upvote-controls {
  color: #070421;
  margin-top: -10px;
  margin-left: 0px;
  padding-left: 20px;
  margin-right: -5px;
}

.upvote-number {
  margin-left: -2px;
  margin-top: -6px;
}

.upvote-arrow:hover {
  color: black;
}

.idea-admin-control {
  color: lightgrey;
}

.idea-title {
  text-decoration: underline;
  text-decoration-color: #E62F24;
}
