// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-margin {
  margin-bottom: 30px;
}

.modal-content {
  // border: 1px;
  border-radius: 2px;
}

.card-user-link {
  color: #443A3A;
}

.card-user-link:link {
  color: #443A3A;
  text-decoration: none;
}

.search-row{
  padding-top: 45px;
  padding-bottom: 45px;
}
//
// .search-input {
//   border-radius: 2px;
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
//   color: #443A3A;
//   height: 50px;
//   background-color: #EDF1F5;
//   font-weight: 300;
// }

.search-input {
  border-radius: 7px;
  border: 3px solid #070421;
  background-color: #fafafa;
  color: #443A3A;
  height: 45px;
  font-weight: 300;
}



.search-input:focus {
  border-radius: 7px;
  border: 3px solid #070421;
  background-color: #fafafa;
  color: #443A3A;
  height: 45px;
  font-weight: 300;
}

.search-input-text-area {
  border-radius: 7px;
  border: 3px solid #070421;
  background-color: #fafafa;
  color: #443A3A;
  height: 100px;
  font-weight: 300;
}

.search-input-text-area:focus {
  border-radius: 7px;
  border: 3px solid #070421;
  background-color: #fafafa;
  color: #443A3A;
  height: 100px;
  font-weight: 300;

  // outline: none;
  // border: none !important;
  // -webkit-box-shadow: none !important;
  // -moz-box-shadow: none !important;
  // background-color: #EDF1F5;
}

// .search-input-prepend {
//   border-radius: 2px;
//   border: 0px;
//   box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
//   color: #fff;
//   height: 45px;
//   font-weight: 300;
//   background-color: #070421;
// }

.search-button {
  border-radius: 2px;
  border: 0px;
  // border-color: #E62F24;
  box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  height: 45px;
  font-weight: 700;
}

.tag-line-row {
  margin-bottom: -0px;
}

.add-idea-link {
  color: grey;
  text-decoration: underline;
}
