// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-margin {
  margin-bottom: 30px;
}

.modal-content {
  // border: 1px;
  border-radius: 2px;
}

.card-user-link {
  color: #443A3A;
}

.card-user-link:link {
  color: #443A3A;
  text-decoration: none;
}

.search-row{
  padding-top: 45px;
  padding-bottom: 45px;
}

.search-input {
  border-radius: 2px;
  border: 0px;
  box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  color: #443A3A;
  height: 45px;
  font-weight: 300;
}

.search-input-prepend {
  border-radius: 2px;
  border: 0px;
  box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 45px;
  font-weight: 300;
  background-color: #E62F24;
}

.search-button {
  border-radius: 2px;
  border: 0px;
  // border-color: #E62F24;
  box-shadow:  0 0px 8px 0 rgba(0, 0, 0, 0.1), 0 0px 8px 0 rgba(0, 0, 0, 0.1);
  height: 45px;
  font-weight: 700;
}

.tag-line-row {
  margin-bottom: -0px;
}
