
.card-project-img {
  margin-top: 0px;
  margin-left: 0px;
  width: 95px;
  height: 95px;
  border-radius: 4px;
  object-fit: cover;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.card-project-img-small {
  margin-top: -3px;
  margin-left: 0px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  object-fit: cover;
}

.card-body-project {
  margin-left: 10px;
}

.update-dropdown {
  background-color: #fff;
  font-size: 13px;
}

.card-title-project {
  color: #3A444B;
}

.card-modal {
  border: 1px solid red;
}

.badge-upvote {
  border: 1px solid red;
  background-color: white;
  border-radius: 20px;
  color: red;
}
