
.card-project-img {
  margin-top: 1px;
  margin-left: 1px;
  width: 93px;
  height: 93px;
  border-radius: 4px;
  object-fit: cover;
}

.card-project-img-small {
  margin-top: -3px;
  margin-left: 0px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  object-fit: cover;
}

.card-body-project {
  margin-left: 10px;
}

.update-dropdown {
  background-color: #fff;
  font-size: 13px;
}
