
.profilePhoto {
  border: 2px solid white;
  border-radius: 50px;
  width: 90px;
  height: 90px;
}


.profilePhotoMenu {
  border: 3px solid white;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

// .profilePhotoIndex {
//   border: 3px solid #070421;
//   border-radius: 25px;
//   width: 40px;
//   height: 40px;
//   margin-top: -7px;
//   margin-left: -2.75px;
// }

.profilePhotoIndex {
  border: 0px solid #070421;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  margin-top: -7px;
  margin-left: -2.75px;
  box-shadow:  0 0px 6px 0px rgba(131, 131, 131, 0.5);

}

.profilePhotoNav {
  border: 0px solid #070421;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  margin-top: -3px;
  margin-right: -8px;
  box-shadow:  0 0px 6px 0px rgba(131, 131, 131, 0.5);
}

// .profilePhotoTopicShow {
//   width: 140px;
//   height: 140px;
//   object-fit: cover;
//   border: 3px solid #070421;
//   border-radius: 70px;
// }



.profilePhotoProject {
  border: 1px solid white;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-left: 13px;
  margin-bottom: 10px;
}

.profilePhotoProjectCard {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-top: -3px;
}

.card-user-bg-img {
  width: 100%;
  height: 165px;
  object-fit: cover;
  border-radius: 7px;
}

.card-user {
  // border-radius: 7px;
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-user:hover {
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.15), 0 0px 10px 0 rgba(0, 0, 0, 0.15);
}

.card-user-page {
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-title-user {
  color: #fff;
  text-shadow: 4px 4px 10px #000;
  margin-top: 10px;

}

.user-username {
  color: grey;
}

.user-link {
  color: #443A3A;
}

.user-title-menu {
  padding-top: 20px;
  margin-bottom: 10px;
}

.user-title-project {
  padding-top: 10px;
  font-size: 13px;
  color: #443A3A;
}

.user-link-menu {
  color: #443A3A;
}

.user-link-index {
  color: #070421;
}

.card-pages-user {
  height: 150px;
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-pages-user:hover {
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.15), 0 0px 10px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid red;
  margin-bottom: 0px;
}

.card-subtitle-pages-user {
  font-size: 12px;
}

.dots-pages-user {
  margin-right: -10px;
}

.card-used-fixedheight {
  height: 265px;
}

.card-text-main {
  color: grey;
}

.card-small-user{
  margin-left: 0px;
}

.small-card-profile-photo {
  border: 3px solid white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.font-background-color-usercard {
  display: table;
  padding:8px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 3.5px;
  background-color: rgba(7, 4, 33, 1);
  color:#ffffff;
  line-height: 1.1;

}
