
.profilePhoto {
  border: 3px solid white;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: 17px;
  margin-bottom: -15px;
}

.profilePhotoMenu {
  border: 3px solid white;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.profilePhotoProject {
  border: 1px solid white;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-left: 13px;
  margin-bottom: 10px;
}

.card-user-bg-img {
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.card-user {
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-user:hover {
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.15), 0 0px 10px 0 rgba(0, 0, 0, 0.15);
}

.card-user-page {
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.card-title-user {
  margin-bottom: 0px;
}

.user-username {
  color: grey;
}

.user-link {
  color: #443A3A;
}

.user-title-menu {
  padding-top: 20px;
  margin-bottom: 10px;
}

.user-title-project {
  padding-top: 21px;
  margin-left: 3px;
  margin-bottom: 20px;
  font-size: 13px;
  color: #443A3A;
}

.user-link-menu {
  color: #443A3A;
}

.card-pages-user {
  height: 150px;
  border: 0px;
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 0px 10px 0 rgba(0, 0, 0, 0.1);
  // border-top: 3px solid red;
}

.card-pages-user:hover {
  box-shadow:  0 0px 10px 0 rgba(0, 0, 0, 0.15), 0 0px 10px 0 rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid red;
  margin-bottom: 0px;

}

.card-subtitle-pages-user {
  font-size: 12px;
}

.dots-pages-user {
  margin-right: -10px;
}

.card-used-fixedheight {
  height: 335px;
}

.card-text-main {
  color: grey;
}

.card-small-user{
  // border: 0px;
  margin-left: 0px;
}

.small-card-profile-photo {
  border: 3px solid white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
