<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MIW Jobs Categories</title>
  </head>
  <body>
    <div class="row">
      <% if user_signed_in? && current_user.admin? %>
      <div class="col-12  col-md-7 col-lg-8 col-xl-9">
        <h1 class="main-text-color good-font">Jobs categories</h1>
        <h3><small class="text-muted good-font">Find your way.</small></h3>
      </div>
        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
          <%= link_to "Add new category", new_category_path, class: "btn btn-outline-danger btn-block " %>
        </div>
      <% else %>
      <div class="col-12">
        <h1 class="main-text-color good-font">Jobs categories</h1>
        <h3><small class="text-muted good-font">Find your way.</small></h3>
      </div>
      <% end %>
    </div>
    <br>
    <div class="row">
      <% @categories.each  do |cat| %>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= link_to category_path(cat) do  %>
          <div class="card card-category-index text-center mb-3">
            <h6 class="card-title category-title make-in-center"><strong><%= cat.title %></strong><br> <small><%= cat.jobs.count %> jobs</small></h6>
          </div>
        <% end %>
      </div>

      <% end %>
    </div>
  </body>
</html>
