
<div class="row">
  <div class="col">
    <h3 class="main-text-color">Communities of Startups.Space
    <br>
    <!-- <small class="text-muted">The field where you want to start.</small> -->
    </h3>
  </div>
</div>
<br>

<div class="row">
  <div class="col-6 col-md-6 col-lg-3 col-xl-3">
    <% @communities.each do |community| %>
    <div class="card card-community-index mr-3 mt-3">
      <%= link_to community_path(community), class: "card-user-link" do %>
      <%= image_tag community.background, class: "card-commutity-img card-img-top" if community.background? %>
      <div class="card-body">
        <h5 class="card-title"><%= community.name %></h5>
        <p class="card-text"><%= community.description %></p>
        <!-- <p class="card-text-location"><i class="fas fa-globe"></i> Worldwide</p> -->
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
