

<div class="row">
  <div class="col-12 col-md-9 ">
    <h1 class="main-text-color">Collection</h1>
    <h3><small class="text-muted">Cool opportunities together.</small></h3>

    </h3>
  </div>
    <div class="col-12 col-md-3">
      <%= link_to 'Back', :back, class: "btn btn-outline-danger btn-block"  %>

    </div>
</div>
<br>

  <%= render 'form' %>
