
  <head>
    <title>New Field | Startups Space</title>
  </head>


  <div class="row">
    <div class="col">
      <h3 class="main-text-color">Create a new field
      <br>
      <!-- <small class="text-muted">The market you want to disrupt.</small> -->
      <small class="text-muted">The field where you want to start.</small>

      </h3>
    </div>
  </div>
  <br>
<%= render 'form' %>
