<div class="row">
  <div class="col-12 col-md-9 ">
    <h1 class="main-text-color good-font">Add a new place to work</h1>
    <h3><small class="text-muted good-font">Some cool place.</small></h3>
  </div>
  <!-- <div class="col-12 col-md-3">
    <%= link_to 'Back', :back, class: "btn btn-danger btn-block"  %>
  </div> -->
</div>
<br>
<%= render 'form' %>
