<nav class="navbar navbar-expand-lg navbar-light navbar-margin navbar-color-shadow ">
  <%= link_to image_tag('logo.png', style: 'height:40px;width:auto;'), root_path %>
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <%= link_to "Post a Job - $59", new_job_path, class: "btn btn-danger mr-3"  %>
    </ul>
</nav>
